/* LoginPage.css */

/* body {
  background: linear-gradient(to bottom right, #7F55B1 60%, #9B7EBD 30%);
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
} */

.login-container {
  max-width: 400px;
  margin:20px auto;
  padding: 40px;
  background: linear-gradient(to bottom right, #7F55B1 60%, #9B7EBD 30%);
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #333;
}

.home-title {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #ffffff
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  text-align: left;
  color: #7F55B1;
}

.login-form input {
  width: 100%;
  padding: 10px 14px;
  font-size: 1rem;
  border-radius: 8px;
  border: 2px solid #9B7EBD;
  outline: none;
  transition: border-color 0.3s;
}

.login-form input:focus {
  border-color: #7F55B1;
  box-shadow: 0 0 0 3px rgba(127, 85, 177, 0.2);
}

.login-form button {
  background-color: #7F55B1;
  color: #fff;
  border: none;
  padding: 12px 0;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  box-shadow: #333;
}

.login-form button:hover {
  background-color: #5e4093;
  transform: translateY(-2px);
}

.login-form p {
  font-size: 0.95rem;
  color: #d63031;
}
